<div class="container">
    <div class="row text-center burgerthing">
        <h1>Burger HW</h1>
        <img id="burgpic"  src="/assets/img/burger.png">
    </div>
    <div class="row text-center">
        <div class="col-xs-5 burgercol">
            <h2>Non eaten burgers</h2>
            <div class="noneatenburgers">
                {{#each burger}} {{#unless devoured}}
                <BR> {{burger_name}} 

                <button class="devour" id= {{id}} >
                    Devour
                </button>
                <br> {{/unless}} {{/each}}
            </div>
        </div>
        <div class="col-xs-2"></div>
        <div class="col-xs-5 burgercol">
            <h2>Eaten burgers</h2>
            <div class="eatenburgers">

                {{#each burger}} {{#if devoured}}
                <BR> {{burger_name}}

                <button class="undevour"  id= {{id}} >
                    throw up?
                </button>
                <br> {{/if}} {{/each}}
            </div>
        </div>
    </div>
    <div class="row text-center something">
        <br>
        <h3> Add your own!</h3>
        <form id="form">
            <input id="burgerinput" type="text">
            <br><br>
            <input type="submit" id='submit'>
        </form>
        <br>
        <h3>Enter a burger you want to eat and click the submit button</h3>
    </div>

</div>

</div>